{% extends 'base.html.twig' %}
{% block title %}Actualities{% endblock %}
{% block body %}
  <h1 style="color:orange;text-align:left">BDO (Ang Dios Gugma Community, Inc.)</h1> 
    <p style="color:black;font-size:25px; text-align:center">
      <strong>SA ( 71 0200 722)</strong>
    </p>
<br>
<h1 style="color:orange;text-align:left">Peso ChinaBank (Ang Dios Gugma Catholic Ministries, Inc.)</h1> 
    <p style="color:black;font-size:25px;text-align:center">
     <strong> SA (46 7004 9413) </strong>
    </p>
  <br>
  <h1 style="color:orange;text-align:left">BPI (Ang Dios Gugma Media Phils., Inc. )</h1> 
    <p style="color:black;font-size:25px; text-align:center">
      <strong>Acct ( 13 1534 05 23)</strong>
    </p>
    <br>
  <h1 style="color:orange;text-align:left">DollarChinaBank (Ang Dios Gugma Catholic Ministries, Inc.)</h1> 
    <p style="color:black;font-size:25px; text-align:center">
      <strong>Acct (46 7700 1519)</strong>
    </p>


{% endblock %}


