
{% extends 'base.html.twig' %}

{% block title %}Maintenance{% endblock %}

{% block body %} 

<div><br><br><br><br>
    <h6 style ="text-align:center;color:black;background-color:white">God Bless you <em>{{name}}</em>! You want to give <strong> {{currency}} {{amount}} </strong>to Ang Dios Gugma Community and we thanks you for that. <br><br><br> Actually a <strong style ="color:red">maintenance operation</strong> is in progress, please try again later</h6>
    <br>
</div>
{% endblock %}