{% extends 'base.html.twig' %}

{% block title %}Payment success!{% endblock %}

{% block body %} 

<div> <br><br><br><br><div style="text-align:center">Payment Succeeded ✅</div><br><br>
    <h6 style ="text-align:center;color:black;background-color:white; text-decoration:none">GOD Bless you {{name}} ! You have give {{currency}} {{amount}} to Ang Dios Gugma community.  </h6>
<br>    <p style="text-align:center;color:black;background-color:white">Thanks you</p>
</div>
{% endblock %}