{% extends 'base.html.twig' %}
{% block body %}
  <h1>Connexion</h1>
  <form action ="{{ path('security_login') }}" method="post">
	  <div class ="form-group">
	  	<input placeholder="username" required name ="_username"  class ='form-control'>
	  </div> <br>
	  <div class ="form-group">
	  	<input placeholder="password" required name ='_password'  class ='form-control'>
	  </div><br>
	  <div class ="form-group">
	  	<button class="btn btn-success" type="submit">Login</button>
	  </div>
 </form>
{% endblock %}