{% extends 'base.html.twig' %}

{% block body %}
<section class ="articles">
{% for article in articles %}
	<article>
	
	 <h1 class='resa_recap'>{{article.title}}</h1>
        <pre class='recap'>
        		{{article.content}}
		</pre>
			
	</article>
{% endfor %}
</section>
<pre>
{% if not app.user %}

	<a href="{{path('community_inc')}}"><span style="color:white;align:left; font-style:italic; font-weight:bold;background-color:#503a2c;"><mark>EDIT</mark></span></a>

{% endif %}

</pre>
{% endblock %}