{% extends 'base.html.twig' %}

{% block title %}Ang Dios Gugma{% endblock %}
	
{% block body %}

  <div style="text-align:center;background-color:none; text-decoration:underline;font-size:20px"><a href="{{path('donationProcess_1')}}" style="color:black">Online payment</a> </div><br>
    <div style="text-align:center;background-color:none; text-decoration:underline;font-size:20px"><a href="{{path('money_transfer')}}" style="color:black">Bank transfer</a> </div><br>

{% endblock %}

