{% extends 'base.html.twig' %}

{% block title %}Ang Dios Gugma{% endblock %}
	
{% block body %}

  <div style="text-align:center;background-color:white; text-decoration:underline;font-size:20px"><a href="{{path('admin_home')}}" style="color:black">Admin</a> </div><br>
   <div style="text-align:center;background-color:white; text-decoration:underline;font-size:20px"><a href="{{path('admin_home_teacher')}}" style="color:black">Teacher</a> </div><br>

{% endblock %}

