{% extends 'base.html.twig' %}
{% block title %}Legal notices{% endblock %}
{% block body %}
  <h1 style="color:black;text-align:left">Intellectual property rights</h1> 
    <p style="color:black;font-size:15px">
      This website is the property of Ang Dios Gugma community Inc. The photographs, texts, slogans, drawings, images, animated sequences with or without sound as well as all works integrated into the website are the property of the Ang Dios Gugma community Inc or third parties having authorized  Ang Dios Gugma community Inc to use them.
    </p>
<br>
<h1 style="color:black;text-align:left">Personal data - Protection</h1> 
    <p style="color:black;font-size:15px">
      This website is the property of Ang Dios Gugma community Inc. The photographs, texts, slogans, drawings, images, animated sequences with or without sound as well as all works integrated into the website are the property of the Ang Dios Gugma community Inc or third parties having authorized  Ang Dios Gugma community Inc to use them.
    </p>
  <br>
  <h1 style="color:black;text-align:center">Editor</h1> 
    <p style="color:black;font-size:15px; text-align:center">
      The website <b>https://angdiosgugma.com</b> is published by Ang Dios Gugma community Inc
    </p>
    <br>
  <h1 style="color:black;text-align:center">The website hoster</h1> 
    <p style="color:black;font-size:15px; text-align:center">
      
        <br> <strong style="color:orange">OVH</strong>,<br>
        2 Rue Kellermann, 59100 Roubaix, FRANCE
    </p>
<br>
  <h1 style="color:black;text-align:center">Realization of the website</h1> 
    <p style="color:black;font-size:15px; text-align:center">
      <b style="color:orange">Kalidou Gatta BA</b>,<br> Phone:(+33)651472049<br>E-mail: kalidougattaba@gmail.com<br>Country: FRANCE
    </p>

{% endblock %}