{% extends 'base.html.twig' %}
{% block body %}
  <h1>Log in</h1>
  <form action ="{{ path('security_login') }}" method="post">
	  <div class ="form-group">
	  	<input placeholder="username" required name ="_username"  class ='form-control'>
	  </div> <br>
	  <div class ="form-group">
	  	<input placeholder="password" required name ='_password' type="password" class ='form-control'>
	  </div><br>
	  <div class ="form-group">
	  	<button class="btn" type="submit">Log in</button>
	  </div>
 </form>
{% endblock %}