{% extends 'base.html.twig' %}

{% block title %}Acces denied{% endblock %}

{% block body %} 

<div> <br><br><br><br>
	<img src="{{asset('images/access_denied.jpeg')}}"> <br>
    <h6 style ="text-align:center;color:black;background-color:white; text-decoration:none">Sorry <b>{{user}}</b> ! Your <b>access</b> to this section is <b>denied</b> you have be an ADMINISTRATOR.<br> For more information, ask <b>GATTA<b> <br>GOD Bless you Always !</h6>
</div><br><br><br><br><br><br><br><br><br><br>
{% endblock %}