{% extends 'base.html.twig' %}
{% block title %}Live Chat{% endblock %}

{% block body %}<br> 
<style>
	.container{
		background-color:white;
		background: none;
		opacity: 1;
	}
</style>
<div class="container">
	<br>
	<nobr><button type="submit" style=''class ="btn">Status</button>
	<button type="submit" style='' class ="btn">Messages</button></nobr><br><br>
	<div style="background-color:beige !important ;color:black;height:100%;margin-right:15%;margin-left:15%;border-radius: 15px;border: 5px solid">
 			 <img src="{{asset('images/eglise.jpeg')}}" style="border-top-left-radius: 50% 50%;border-top-right-radius: 50% 50%;border-bottom-right-radius: 50% 50%;border-bottom-left-radius: 50% 50%;border-radius: 50%;width: 50px;
 			 height: 50px" /><br><div style="padding-left:12px;padding-right:12px;text-align:justify">
 			 ec  ecadaed v ecadaed ecadaed ecadaed ecadaed ecadaed v cadaed ecadaed ecadaed ecadaed ecadaed ecadaed ecadaedadaed</div>
	</div><br>
	<div style="background-color:red !important ;color:white;height:100%;margin-right:15%;margin-left:20%;border-radius: 15px;border: 10px solid">
 			 <img src="{{asset('images/eglise.jpeg')}}" style="border-top-left-radius: 50% 50%;border-top-right-radius: 50% 50%;border-bottom-right-radius: 50% 50%;border-bottom-left-radius: 50% 50%;border-radius: 50%;width: 50px;
 			 height: 50px" /> <br> <div style="padding-left:12px;padding-right:12px;text-align:justify">
 			 ec  ecadaed v ecadaed ecadaed ecadaed ecadaed ecadaed v cadaed ecadaed ecadaed ecadaed ecadaed ecadaed ecadaedadaed</div>
	</div>
	

	
	



</div>
{% endblock %}