
{% extends 'base.html.twig' %}

{% block title %}Student {% endblock %}
{% block body %}

    <h1 class='resa_recap'>Teacher</h1>
        <pre class='recap'>
 			No registered student with these information
 			
 			<a href="{{path('students')}}" class ="btn">Back</a>
		</pre>
		<br><br> 
	
{%  endblock %}