<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
</head>
<body style="margin:0; padding:0; background-color:beige;">
  <center>
      <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
          <td align="center" valign="top"> 

            <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/560237_1394819990828316_8583817921332807507_n.jpg?_nc_cat=107&_nc_oc=AQmfmxv3bc_d4KFmf3mu_04ZLr08aK2Up-SSgUan6o6uPW15v1dSG-ZNeI-xJM843d4&_nc_ht=scontent-cdg2-1.xx&oh=2232103205522d2ab02b4131f498b3f5&oe=5E10F44A"/><br>
                       Hello {{name}}, <br>You have just given {{currency}} {{amount}} to Ang Dios Gugma Community.<br>Your payment has the following reference: <strong>{{ref}}</strong>. <br> We thank you for this act of solidarity.<br>We will pray for you. <br><br>God Bless you.<br><br><strong><em>Kind regards<br>Ang Dios Gugma Community</em></strong> 
          </td>
        </tr>
  </center>
</body>
</html>