{% extends 'base.html.twig' %}
{% block title %}Metro Manila{% endblock %}
{% block body %}
<section class ="articles">
{% for article in articles %}
  <article>
    <h2 style="text-align:center"> {{article.title}} </h2>
      <div style ="text-align:justify">
          {{article.content}}
      </div>
  </article>
{% endfor %}
</section>
    {% if app.user %}
          <span>
              <a href="{{path('metro_manila')}}" class="nav-link"  style="color:white;font-size:15px; font-weight:bold"><mark>Post a new article</mark></a>
          </span> 
    {% endif %}

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
  {% endblock %}

{% endblock %}