{% extends 'base.html.twig' %}

{% block title %}Saints{% endblock %}

{% block body %}
<style>
    .recap p{
      color: black;
    }
</style>
<div>
	{% for videoTitle in more %}
		<article> 
        	<span>{{videoTitle}}</span>
        	<form  method='GET' action='{{path('show_more_video')}}'>
        		<input type="submit" style="color:white; background-color:red" value="See">
        		<input style='opacity:0' type="text" value="{{videoTitle}}"  name="index" />
        	</form><br>
        </article>
	{% endfor %}
</div>
{% endblock %}
