{% extends 'base.html.twig' %}
{% block title %}Students{% endblock %}
{% block body %}

    <h6 style="color:green">The student has been add successfuly</h6>
        <a href="{{path('student_add')}}" style="color:blue"> << Back</a> 

{% endblock %}